@font-face {
    font-family: 'Suisse Intl';
    src: url('../fonts/SuisseIntl-Book-WebS.woff') format('woff'), url('../fonts/SuisseIntl-Book-WebS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Suisse Intl';
    src: url('../fonts/SuisseIntl-RegularItalic-WebS.woff') format('woff'), url('../fonts/SuisseIntl-RegularItalic-WebS.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Suisse Intl';
    src: url('../fonts/SuisseIntl-Book-WebS.woff') format('woff'), url('../fonts/SuisseIntl-Book-WebS.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Suisse Intl';
    src: url('../fonts/SuisseIntl-SemiBold-WebS.woff') format('woff'), url('../fonts/SuisseIntl-SemiBold-WebS.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
